{
    "arrowParens": "avoid",
    "semi": false,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 80,
    "trailingComma": "none",
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "singleAttributePerLine": true
}
