@import '@/app/styles/index';

.hide {
    cursor: pointer;
    stroke: $gainsboro;
}

.eye {
    cursor: pointer;

    @include secondary('stroke');
}

.subtitle {
    display: flex;
    gap: 8px;
    align-items: center;

    span {
        @include text-m-regular;
        @include on-surface('color');
    }
}

.button {
    width: 100%;
    margin: 30px 0 20px;
}

.link {
    display: block;
    text-align: center;

    @include text-m-regular;
    @include secondary('color');
}
