/* stylelint-disable */

.root {
	&__input {
		width: 100%;
		padding: 12px 18px;
		color: var(--input-color);
		font-size: 16px;
		line-height: 24px;
		background-color: var(--input-bg-color);
		border: 1px solid #e8d8f0;
		border-radius: 14px;
		transition: border-color 0.3s ease-in-out;

		&:focus {
			border-color: var(--accent-color);
		}

		&:hover {
			border-color: var(--accent-color);
			outline: 1px solid var(--accent-color);
		}

		&:disabled {
			opacity: 0.5;
		}

		&_error {
			border-color: #f00;
		}

		&::placeholder {
			font-size: 16px;
			font-family: 'Nunito Sans', sans-serif;
			line-height: 24px;
		}
	}

	&__error {
		color: #f00;
		font-size: 15px;
		line-height: 24px;
		padding-inline-start: 18px;
	}
}
