@import '@/app/styles/index';

.root {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-radius: 4px;

    @include secondary('border-color');

    input{
    display: none;
}
}
